html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0.1%, rgb(252, 251, 121) 90%);
}

p {
    margin: 0px;
    padding: 0px;
}

#modal {
    display: none;
    border-radius: 0.4rem;
    border: gray solid 2px;
    width: max-content;
    height: min-content;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2rem;
}

.close-btn-wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.close-btn {
    display: block;
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
    
    background-color: moccasin;
    border-color: #fed57b;
    border-radius: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: .4rem;
    padding-top: .4rem;
    font-size: 1rem;
    font-family: Arial;
    font-weight: bolder;
}

.modal-image {
    width: 35rem;
    /* max-width: min-content; */
    height: auto;
    object-fit: cover;
    margin-bottom: auto;
    border-radius: 0.4rem;
}

.modal-image-wrapper {
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

.full-desc-wrapper {
    display: flex;
    margin-left: 2rem;
}


.full-desc {
    margin: auto;
    padding: 20px;
    border: #ffdb8b 3px solid;
    border-radius: 18px;
    background-color: #fff0d0;
}

#listings-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}

.car-listing {
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-color: white;
    box-shadow: black 0px 0px 8px -3px;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow: hidden;
    width: 25rem;
    cursor: pointer;
}

.price {
    font-weight: bold;
}

.car-image {
    width: 100%;
    height: min-content;
    object-fit: cover;
    margin-bottom: auto;
    border-radius: 0.4rem;
}
